# Server
NODE_ENV=development
PORT=3000
SESSION_NAME=express-ts.sid
SESSION_SECRET="dMFS4KhNuVTCMewLnF3@3BcmLVEhTtkyJDAp&FfaU3e#*es%v-UCThs+ec9@YVnq6d2x!pGk&@KY@8s22Y@JV7vgmG96PTDen&rpKJXKhQkR?F6^YzNEnxKx8VHMCzxQ5q*T-^RJ8w#RpUX@N6SH-BDMCg2+hKRf6qT!7f+r_vN#p*kv-8*n*r$nC!k5=jhQqwHb*X^qfVfK#k&Urw$_F-WYsA!y-v3*7QPq6e@_+$srrKf+w3eRpqYwJDEM2@"
COOKIE_SECRET="es%v-UCThVnq6d2xpGk&@KY@8smG96PTDen&rpKJXKhQkR?F6^YzNEnxKdMFS4KhNuVTCMewLnF3@3BcmLVEhTtkyJDAp&FfaU3ezxQ5q*T-22Y@JV7vgs+ec9@Yx8VHM^CRJ8w#RpUX@N6SH-BDMCg2+hKRf6qT!7f+r_vN#p*kv-8*n*r$nC!k5=jhQqwHb*X^qfVfK#k&Urw$_F-WYsA!y-v3*7QPq6e@_+$srrKf+w3eRpqYwJDEM2@"

# CORS
SOCKET_IO_CORS=*
SERVER_CORS=*

# Database
DB_USER=postgres
DB_PASSWORD=9423
DB_NAME=express-ts_db
DB_HOST=localhost
DB_PORT=5432
DB_MAX_CLIENTS=50
DATABASE_URL=postgresql://postgres:9423@localhost:5432/express-ts_db

# Google Login
GOOGLE_CLIENT_ID="client_id"
GOOGLE_CLIENT_SECRET="client_secret"
GOOGLE_CALLBACK_URL="http://localhost:3000/auth/google/verify"
LOGIN_FAILURE_REDIRECT="/"
LOGIN_SUCCESS_REDIRECT="http://localhost:4200/secure/authenticate"

# CLI
ANGULAR_DIST_DIR="/path/express-ts_frontend/dist/express-ts"
ANGULAR_SRC_DIR="/path/express-ts_frontend"
BACKEND_PUBLIC_DIR="/path/express-ts_backend/src/public"
BACKEND_VIEWS_DIR="/path/express-ts_backend/src/views/admin"
COMMIT_BUILD_IMMEDIATELY=true
